{% extends 'home/base.html' %}

{% block content %}
    <div class="blog">
        <div class="container">

          <div class="blog-header">
            <h1 class="blog-title">Yetep's Blog</h1>
            <p class="lead blog-description">Not sure what this blog will be about yet</p>
          </div>

          <div class="row">

            <div class="col-sm-8 blog-main">
            {% for post in posts %}

                <div class="blog-post">
                    <h2 class="blog-post-title"> {{ post.title }} </h2>
                    <p class="blog-post-meta">{{ post.published_date }} by {{ post.author }}</p>
                    <p> {{ post.text|linebreaks }} </p>
                  </div><!-- /.blog-post -->
            {% endfor %}

              <!--nav>
                <ul class="pager">
                  <li><a href="http://getbootstrap.com/examples/blog/#">Previous</a></li>
                  <li><a href="http://getbootstrap.com/examples/blog/#">Next</a></li>
                </ul>
              </nav-->

            </div><!-- /.blog-main -->

            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
              <div class="sidebar-module sidebar-module-inset">
                <h4>About</h4>
                <p>I am woking on the layout of this blog.  I will update this when I have a better idea what I am doing with it.</p>
              </div>
              <!--div class="sidebar-module">
                <h4>Archives</h4>
                <ol class="list-unstyled">
                  <li><a href="">March 2014</a></li>
                  <li><a href="">February 2014</a></li>
                  <li><a href="">January 2014</a></li>
                  <li><a href="">December 2013</a></li>
                  <li><a href="">November 2013</a></li>
                  <li><a href="">October 2013</a></li>
                  <li><a href="">September 2013</a></li>
                  <li><a href="">August 2013</a></li>
                  <li><a href="">July 2013</a></li>
                  <li><a href="">June 2013</a></li>
                  <li><a href="">May 2013</a></li>
                  <li><a href="">April 2013</a></li>
                </ol>
              </div-->
              <div class="sidebar-module">
                <h4>Elsewhere</h4>
                <ol class="list-unstyled">
                  <li><a href="https://twitter.com/yetep">Twitter</a></li>
                  <li><a href="https://twitter.com/TIL_Bot_">TIL Bot</a></li>
                </ol>
              </div>
            </div><!-- /.blog-sidebar -->

          </div><!-- /.row -->

        </div><!-- /.container -->

        <!--footer class="blog-footer">
          <p>Blog template built for <a href="http://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
          <p>
            <a href="http://getbootstrap.com/examples/blog/#">Back to top</a>
          </p>
        </footer-->
    </div>
{% endblock %}